<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PlanetWroxTempConnectionString1" connectionString="Data Source=GRANT948\GRANT978;Initial Catalog=PlanetWroxTemp;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages theme="Monochrome" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="Wrox" tagName="Banner" src="~/Controls/Banner.ascx"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Brent Grant &lt;lincoln18631@hotmail.com&gt;">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\TempMail"/>
        <network host="smtp.live.com" userName="lincoln18631@hotmail.com" password="1Sha9Sas9Cha1Luc" port="587" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BegASPNET2.Service1AspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="BegASPNET2.Service1">
        <endpoint address="" behaviorConfiguration="BegASPNET2.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="BegASPNET2.Service1"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>